{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}


<div class="container-fluid mt-5">
<section id="accueil">
<h2 class="my-4 text-center">Choisissez votre restaurant</h2>


<div class="card m-3">
  <img src="img/resto/italian.jpg" class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title ">Restaurant 1</h5>
    <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#resto1" class="btn-sm ">Voir les menus</a>
  </div>
</div>
</div>
</section>
<section id="resto1">
<h2 class="my-4 text-center">Restaurant 1</h2>
<div class="container-fluid">

<div class="card m-3">
  <img src="img/resto/italian.jpg" class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title ">Menu 1</h5>
    <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p>&euro;</p>
    <a href="#" class="btn-sm ">Ajouter au panier</a>
    
  </div>
</div>
</div>



   
{% endblock %}
