:root {
  font-size: calc(0.6em + 1vw);
}
body {
  font-family: "Roboto", sans-serif;
  background: #edf2f4 !important;

}
.logo {
  width: 6rem;
}
header{
  background-color: #8d99ae ;
}
h1 {
  letter-spacing: 0.1rem;
  font-size: 1.2rem !important;
  font-family: "Raleway", sans-serif !important;
}

.bienvenue {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif !important;
}

footer {
  background-color: #8d99ae !important;
  padding: 1rem;
}

.copyright {
  font-size: 0.6rem;
}
.listadmin ul {
  margin-left: -1.5rem;
  text-decoration: none;
  list-style-type: none;
  font-size: 0.7rem;
}
.listadmin ul li a {
  color: #2b2d42;
}
input,
button {
  font-size: 0.7rem !important;
}
a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

table a {
  color: #000000;
}

table a:hover {
  color: #000000;
}
.table{
  font-size: 0.6rem ;
}
.btn, form, .form-control {
  font-size: 0.7rem !important;
  
}
.profile{
  font-size: 0.7rem;
}
