:root {
  font-size: calc(0.8em + 1vw);
}

body {
  font-family: "Roboto", sans-serif;
  background: #edf2f4 !important;
  padding-top: 5rem;
 
 
}
.navbar {
  background-color: #8d99ae !important;
  height: 4rem;
  font-size: 0.6rem;
  font-weight: 600;

  text-transform: uppercase;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: #ef233c;
}

:target:before {
  display: block;
  content: " ";
  margin-top: -4rem;
  height: 4rem;
  visibility: hidden;
}


h1,
h2,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
  color: #2b2d42;
  text-transform: uppercase;
  font-weight: 800 !important;
}

h1 {
  letter-spacing: 0.1rem;
  font-size: 1.2rem !important;
}
h2 {
  font-size: 1rem !important;
  border-top: 1px solid #d90429;
  border-bottom: 2px solid #d90429;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


hr {
  border-top: 2px solid#D90429 !important;
}

h5 {
  text-transform: uppercase;
 font-size: 0.6rem !important;
}
.logo {
  width: 4rem;
}
.login {
  color: #d90429;
  font-size: 1.2rem;
}
.login :hover {
  color: #ef233c;
}

.card {
  width: 10rem;
}
.card-body .card-text {
  font-size: 0.5rem;
}

.card-body p{
  font-size: 0.7rem;
}
.btn-sm {
  background-color: #d90429;
  color: white;
  text-decoration: none;
  font-size: 0.6rem !important;
}
.btn-sm:hover {
  background-color: #ef233c;
  color: white;
  text-decoration: none;
}

footer {
  background-color: #8d99ae;
}
footer a {
  color: white;
}
footer a:hover {
  color: white;
}
.rs ul li {
  font-size: 1.2rem;
  display: inline-block;
  list-style-type: none;
}
.liens {
  font-size: 0.5rem;
  list-style-type: none;
  margin-left: 3rem;
}

.copyright {
  font-size: 0.7rem;
}

.profile{
  display:flex; 
  list-style-type: none;
  text-transform: none;
  font-size: 0.7rem;
 
}
.profile li{
 padding-right: 0.7rem;
}

.bienvenue{
  color: white;

  font-size: 0.5rem;
  margin-top: 1rem; 
}
.bienvenue p{
 margin-bottom: 0.1rem;
}

.table{
  font-size: 0.5rem ;
}

.continuer a, .continuer a:hover{

font-size: 0.7rem !important;
text-transform: uppercase;
font-weight: 600;
}
.inscription, .form-control, .btn, .connexion{
  font-size: 0.7rem !important;
  
}