:root{
  font-size: calc(0.6em + 1vw);
}
body{
    font-family: 'Roboto', sans-serif;
    background: url(../img/pattern.png) !important;
   padding-top: 4rem;
}
.navbar {

  height: 4rem;
}

:target:before { 
  display: block; 
  content: " "; 
  margin-top: -4rem; 
  height: 4rem; 
  visibility: hidden; 
}

h2, h5, h6 {
  font-family: 'Norican', cursive;
  
}
h2{
  letter-spacing: 0.1rem; 
}
.logo{
width: 8rem;
}
  .login{
  color:#79a67f;
font-size: 1.5rem;
  }
  .login :hover{
    color: #a2c3a8;
  }

  .card{
    width: 14rem;
  }
  .card-text{
    font-size: 0.7rem;
  }
  .btn-sm{
    background-color: #79a67f ;
    color: white;
    text-decoration:none;
  }
  .btn-sm:hover{
    background-color:  #a2c3a8 ;
    color: white;
    text-decoration: none;
  }

  footer a{
    color:#79a67f;
    
  }
  footer a:hover{
    color:#a2c3a8;
  }
  .rs ul li{
    font-size: 1.5rem;
   display: inline-block;
  list-style-type: none;
  }
  .liens{
    font-size:  0.8rem;
  }



  