{% extends 'baseAdmin.html.twig' %}

{% block title %}restaurants-form{% endblock %}

{% block body %}

    {{ parent() }}
<div class="col-10 p-5">
    
        <h1 class="py-3">Formulaire du restaurant</h1>
        {{ form_start(formulaireRestaurant) }}
        {{ form_end(formulaireRestaurant) }}
        </div>
{% endblock %}