{% extends 'baseAdmin.html.twig' %}

{% block title %}menu-form{% endblock %}

{% block body %}

    {{ parent() }}
<div class="col-10 p-5">
    
        <h3>Formulaire du menu</h3>
        {{ form_start(formulaireMenu) }}
        {{ form_end(formulaireMenu) }}
        </div>
{% endblock %}