{% extends 'baseUsers.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}
{{ parent() }}

<div class="col-10 p-3">
   <h1 class="py-3">Modification du profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>
   {{ form(form) }}
</div>

{% endblock %}